/* Starter Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Jeju Gothic, sans-serif;
    background-color: #FFFFF0;
    padding: 0px;
}


/* Navigation Bar */
.navbar {
    background: linear-gradient(to bottom, #E8CFFF,#FFB14C 70%, #CB345F);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 0px;
}

/* Logo Styling */
.logo img {
    height: 100px;
    width: auto;
}

/* Navigation Menu List */
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Navigation Links */
.navbar a {
    color: DA7B00;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* Hover Effect for Navigation Links */
.navbar a:hover {
    color: #007AA0;
}


/* Hero Section */

.hero-section {
    background-image: url('home.png');
    background-size: cover;
    background-position: center;
    height: 713px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 0px;

}
 
/* Menu */
.menu-section {
;
    font-family: Jeju Gothic, sans-serif;
    background-image: url('menu.png');
    background-size: cover;
    background-position: center;
    height: 2473px;
    display: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 0px;
}


/* About */
.about-section {
    column-count: 2;

}

/* About Text */
.about-text {
    margin: 35px;
    font-family: Jeju Gothic, sans-serif;
    max-width: 35vw;
    text-align: left;

}


/* Contact Section */
.contact {

}

/* Contact Text */
.text-module {
    width: 70vw;
    background-color: #FFFFF0;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: left;
    margin: 10px;
    margin-bottom: 60px;


}




/* Footer Section */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    background-color: #007AA0;
    padding: 20px;
}

/* Footer Text Styling */

.footer-text {
    max-width: 25vw;
    text-align: center;
    color: #FFFFF0;
}




